<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Garden</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div> 
  <h1> Welcome to <strong>Virtual Garden!</strong></h1>
  <p> This app gives you the opportunity to create your own virtual garden where you can store all your kitchen garden ideas right in time for Spring and Summer.  </p>
  </div> 

  <div> <%= link_to "Create a Owner", new_owner_path %></div>
  <div> <%= link_to "Create a Garden", new_garden_path %></div>
  <div> <%= link_to "Add a Plant", new_plant_path %></div>
  <div> <%= link_to "All Gardens", gardens_path %></div>
  <div> <%= link_to "All Owners", owners_path %></div>
  <div> <%= link_to "All Plants", plants_path %></div>
    <%= yield %>
  </body>
</html>
